<template>
    <div>
        <game-view></game-view>
    </div>
</template>

<script>
    import Vue from "vue";
    import axios from "axios";

    import GameClient from "../game/game-client";
    import DataSync from "../data/data-sync";    

    const GameView = {
        name: "game-view",
        template: "<div></div>",
        async mounted() {
            this._gameClient = new GameClient(this.$el, DataSync.currentBattleId);
        },
        beforeDestroy() {
            this._gameClient.destroy();
        }
    };

    export default {
        components: {
            GameView
        }        
    };
</script>
