<template>
    <div class="page">
        <div class="main text-xs-center">
            <h3>Just Battle</h3> <!-- TODO: logo -->
            <v-btn dark default @click.native="login">Log In</v-btn>
        </div>
    </div>
</template>

<script>
    import Auth from "../auth";

    export default {
        data: () => ({

        }),
        methods: {
            login: () => Auth.show()
        }
    };
</script>

<style scoped>
    .page {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
