<template>
    <v-snackbar v-model="isShown" bottom right info :timeout="0">
        <router-link :to="{ name: 'Battle' }" class="white--text">Go to battle!</router-link>
    </v-snackbar>
</template>

<script>
    import DataSync from "../data/data-sync";

    export default {
        name: "new-battle-notification",
        data: () => ({
            currentBattleId: null
        }),
        computed: {
            isShown() {
                if (!this.currentBattleId)
                    return false;

                if (this.$route.name === "Battle")
                    return false;

                return true;
            }
        },
        created() {
            DataSync.on("currentBattleIdChanged", v => this.currentBattleId = v);
            this.currentBattleId = DataSync.currentBattleId;
        }
    };
</script>
