<template>
    <v-app toolbar>
        <v-toolbar light>
            <v-toolbar-title>Just Battle</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu offset-y>
                <v-btn slot="activator" round light flat>                    
                    <v-icon light>account_circle</v-icon>
                    <span>&nbsp; {{profile.nickname}}</span>
                </v-btn>
                <v-list>
                    <v-list-item>
                        <v-list-tile @click.native="logout">
                            <v-list-tile-title>Log Out</v-list-tile-title>
                        </v-list-tile>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-toolbar>
        <main>
            <v-container fluid>
                <new-battle-notification></new-battle-notification>
                <router-view></router-view>                
            </v-container>
        </main>
    </v-app>
</template>

<script>
    import NewBattleNotification from "./new-battle-notification.vue";

    import Auth from "../auth";

    export default {
        components: {
            NewBattleNotification
        },
        data:() => ({
            profile: Auth.profile
        }),
        methods: {
            logout: () => Auth.logout()
        }
    };
</script>
