<template>
    <div>
        <v-layout>
            <v-flex xs6 offset-xs3>
                <v-card>
                    <v-toolbar class="cyan" light>
                        <v-toolbar-title>Units</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon light v-if="units && units.length < 3"
                            @click.native="addUnit">
                            <v-icon>add_circle_outline</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-list two-line>
                        <v-list-item v-for="unit of units" :key="unit.id">
                            <v-list-tile router :to="{ name: 'UnitDashboard', params: { unitId: unit.id } }">
                                <v-list-tile-content>
                                    <v-list-tile-title>{{unit.name}}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data: () => ({
            units: null
        }),
        methods: {
            async addUnit() {
                await axios.post("/api/units", {});
                await this.loadUnits();
            },
            async loadUnits() {
                this.units = (await axios.get("/api/units")).data;
            }
        },
        created() {
            this.loadUnits();
        }
    };
</script>
