<template>    
    <div>
        <v-layout>
            <v-breadcrumbs icons divider="chevron_right">
                <v-breadcrumbs-item router :to="{ name: 'PlayerDashboard' }">Just Battle</v-breadcrumbs-item>
                <v-breadcrumbs-item router :to="{ name: 'PlayerDashboard' }">Units</v-breadcrumbs-item>
                <v-breadcrumbs-item>{{unit.name}}</v-breadcrumbs-item>
            </v-breadcrumbs>
        </v-layout>

        <v-card>
            <v-card-title class="cyan white--text">Battle Requests</v-card-title>

            <v-container fluid>
                <v-layout>
                    <v-flex xs2 v-for="battleFormat of battleFormats" :key="battleFormat.name">
                        <v-card class="pink lighten-3">
                            <v-card-text class="white--text">{{battleFormat.name}}</v-card-text>

                            <v-card-row actions>
                                <v-btn dark default
                                    :style="{ visibility: (!battleFormat.request && !currentBattleId) ? 'visible' : 'hidden' }"
                                    @click.native="sendRequest(battleFormat.name)">Send Request</v-btn>
                            </v-card-row>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </div>
</template>

<script>
    import axios from "axios";

    import DataSync from "../data/data-sync";

    export default {
        data: () => ({
            battleFormats: [],
            currentBattleId: null,
            unit: {}
        }),
        methods: {            
            async sendRequest(format) {
                await axios.post(`/api/units/${this._unitId}/battle-requests`, { format });
                await DataSync.syncBattleRequests();
            }
        },
        async created() {
            this._unitId = this.$route.params.unitId;
            this.unit = (await axios.get(`/api/units/${this._unitId}`)).data;
                        
            DataSync.on("battleRequestsChanged", _ => this.battleFormats = DataSync.getBattleFormats(this._unitId));
            DataSync.addUnit(this._unitId);
            await DataSync.syncBattleRequests();

            DataSync.on("currentBattleIdChanged", v => this.currentBattleId = v);
            this.currentBattleId = DataSync.currentBattleId;
        },
        beforeDestroy() {
            DataSync.removeUnit(this._unitId);
        },
        beforeRouteUpdate(to, from, next) {
            DataSync.removeUnit(this._unitId);
            this._unitId = this.$route.params.unitId;
            DataSync.addUnit(this._unitId);
        }
    };
</script>
